{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center align-items-center main-container">
        <div class="row g-0 d-flex justify-content-center" style="width: 100%;">
            <div class="col-12 col-md-6"
                 style="padding: 1rem;border-style: solid;border-color: var(--main-accent);border-radius: 8px;">
                <h1 style="font-weight: bold;color: var(--main-color);text-align: center;">Password Reset<br></h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="text-start" style="color: slategray;font-size: 18px;">Forgotten your password? Enter your
                    e-mail address below, and we'll send you an e-mail allowing you to reset it.<br></p>
                <form class="d-flex flex-column justify-content-center" action="{% url 'account_reset_password' %}"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input class="form-control" type="email" id="id_email" placeholder=" " name="email"
                               {% if form.email.value %}value="{{ form.email.value }}"{% endif %} style="font-weight: bold;">
                        <label class="form-label" for="id_email">Email Address</label>
                    </div>
                {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                    <button class="btn btn-success btn-lg" type="submit" style="width: 100%;">Reset My Password</button>
                    <small class="form-text" style="text-align: center;margin-top: 0.5rem;">Please contact us if you
                        have any trouble resetting your password.<br/></small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
