{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center main-container">
    <div class="row g-0 d-flex justify-content-center" style="width: 100%;">
        <div class="col-12 col-md-6"
             style="padding: 2rem;border-style: solid;border-color: var(--main-accent);border-radius: 8px;">
        {% if token_fail %}
            <i class="fas fa-times"
               style="text-align: center;width: 100%;font-size: 3rem;margin-bottom: 1rem;color: var(--main-color);"></i>
        {% endif %}
            <h1 style="font-weight: bold;color: var(--main-color);text-align: center;margin-bottom: 16px">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="lead" style="text-align: center;color: slategray;">
                The password reset link was invalid, possibly because it has already been used.  Please
            request a <a style="color: var(--bs-blue)" href="{{ passwd_reset_url }}">new password reset</a>.
            </p>
        {% else %}
            <form class="d-flex flex-column justify-content-center" action="{{ action_url }}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating" style="margin-bottom: 1rem;">
                    <input class="form-control" type="password" id="id_password1" style="font-weight: bold;"
                           placeholder=" " name="password1" required="">
                    <label class="form-label" for="id_password1">New Password</label>
                </div>
                {% for error in form.password1.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-floating" style="margin-bottom: 1rem;">
                    <input class="form-control" type="password" id="id_password2" style="font-weight: bold;"
                           placeholder=" " name="password2" required="">
                    <label class="form-label" for="id_password2">New Password (again)</label>
                </div>
                {% for error in form.password2.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <button class="btn btn-success btn-lg" type="submit" style="width: 100%;margin-bottom: 8px;">Change
                    Password
                </button>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
