{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center main-container">
        <div class="row g-0 d-flex justify-content-center" style="width: 100%;">
            <div class="col-12 col-md-6" style="padding: 1rem;border-style: solid;border-color: var(--main-accent);border-radius: 8px;">
                <h1 style="font-weight: bold;color: var(--main-color);text-align: center;margin-bottom: 16px;">Change Password<br></h1>
                <form class="d-flex flex-column justify-content-center" action="{% url 'account_change_password' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input class="form-control" type="password" id="id_oldpassword" style="font-weight: bold;" placeholder=" " name="oldpassword" required="">
                        <label class="form-label" for="id_oldpassword">Current Password</label>
                    </div>
                    {% for error in form.oldpassword.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input class="form-control" type="password" id="id_password1" style="font-weight: bold;" placeholder=" " name="password1" required="">
                        <label class="form-label" for="id_password1">New Password</label>
                    </div>
                {% for error in form.password1.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input class="form-control" type="password" id="id_password2" style="font-weight: bold;" placeholder=" " name="password2" required="">
                        <label class="form-label" for="id_password2">New Password (again)</label>
                    </div>
                {% for error in form.password2.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                    <button class="btn btn-success btn-lg" type="submit" style="width: 100%;margin-bottom: 8px;">Change Password</button>
                    <a class="btn btn-link btn-sm" role="button" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
