{% extends 'form_template.html' %}

{% block form_content %}
    {% for field in form %}
        {% if field.name not in excluded_fields %}
            <div style="margin-bottom: 1rem;">
                <label class="form-label"
                       style="font-size: 20px;font-weight: bold;">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <input type="hidden" name="school" value="{{ account.school.id }}">
            <input type="hidden" name="user" value="{{ account.id }}">
        {% endif %}
    {% endfor %}
{% endblock %}

