<div class="row g-0" style="margin-bottom: 1rem;">
    <div class="col" style="padding: 1rem;border-radius: 8px;background: var(--secondary-color);">
        <h3 class="text-center text-lg-start mb-3" style="font-weight: bold;color: var(--main-color);">
            {{ row_title }}</h3>
        {% if collapsable %}
            <div class="collapse" id="assignments-row-{{ row_title|slugify }}">
        {% endif %}
        {% if row_query %}
            {% for assignment in row_query %}
                {% include "snippets/homework_button.html" %}
            {% endfor %}
        {% else %}
            <p class="text-center">There are No {{ row_title }} Assignments</p>
        {% endif %}
        {% if collapsable %}
            </div>
            <button class="btn btn-transparent-ums w-100"
                    type="button" data-bs-toggle="collapse" data-bs-target="#assignments-row-{{ row_title|slugify }}">
                View ({{ row_query.count }})
            </button>
        {% endif %}
    </div>
</div>