<div class="col-12 col-md-6 col-lg-4" style="padding: 1rem;">
    <div class="w-100"
         style="border-style: solid;border-color: var(--main-accent);border-radius: 8px;padding: 1rem;">
        <div style="padding: 1rem;background: var(--secondary-color);border-radius: 8px;">
            <h3 class="text-center" style="margin: 0;color: var(--main-color);font-weight: bold;">Today
                &amp; Tomorrow</h3>
        </div>
        <button class="btn btn-lg d-flex flex-column w-100 btn-transparent-primary" type="button"
                style="padding: 1rem;border-radius: 8px;margin-top: 1rem;">
            <span class="h4" style="font-weight: bold;">Calendar Event</span>
            <span>This is a description</span>
        </button>
    </div>
</div>