{% if coursetime %}
<div class="list-group-item-{{ coursetime.course.color }} rounded p-3">
    <p class="mb-1" style="font-weight: bold;">Next Class at {{ coursetime.start_time|time:'h:i a' }}</p>
    <h3 style="font-weight: bold;margin-bottom: 0">
        {{ coursetime.course.name }}
    </h3>
    {% if coursetime.link %}
    <div class="mt-2">
        <a class="btn btn-{{ coursetime.course.color }} btn-sm" role="button" href="{{ coursetime.link }}" target="_blank"
           style="font-weight: bold;">
            Go to Class
        </a>
        <span class="text-white bg-secondary rounded m-2 py-1 px-2 btn-sm"
              style="font-weight: bold;border: 1px solid transparent">Password: {{ coursetime.zoom_password|default:'None' }}</span>
    </div>
    {% endif %}
</div>
{% endif %}