<div class="list-group">
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'index' %}">
        <i class="fas fa-tachometer-alt" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Dashboard</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'calendar' %}">
        <i class="fas fa-calendar" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Calendar</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'class_schedule' %}">
        <i class="fas fa-clock" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Class Schedule</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn" id="homework-nav-link"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'homework' %}">
        <i class="fas fa-book" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Homework</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn" id="homework-nav-link"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'notes_home' %}">
        <i class="fas fa-file-alt" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Notes</span>
    </a>
    <button class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn dropdown-toggle mb-3"
       style="border-style: none;padding: .75rem 1.5rem;" data-bs-toggle="collapse" data-bs-target="#courses-list">
        <i class="fas fa-graduation-cap" style="margin-right: .75rem; width: 25px; text-align: center"></i>
        <span>Courses</span>
    </button>
    <ul class="list-group py-0 w-100 collapse mb-3" id="courses-list" style="background: transparent; border: none;">
    <a class="list-group-item list-group-item-action btn-ums w-100" href="{% url 'add_course' %}" style="font-weight: bold; ">
        <i class="fas fa-plus me-2"></i> Add Course</a>
  </ul>
</div>