<div class="list-group">
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'index' %}">
        <i class="fas fa-tachometer-alt" style="margin-right: .75rem;"></i>
        <span>Dashboard</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'calendar' %}">
        <i class="fas fa-calendar" style="margin-right: .75rem;"></i>
        <span>Calendar</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="{% url 'class_schedule' %}">
        <i class="fas fa-clock" style="margin-right: .75rem;"></i>
        <span>Class Schedule</span>
    </a>
    <a class="list-group-item list-group-item-action btn-transparent-ums btn-lg btn"
       style="border-style: none;padding: .75rem 1.5rem;margin-bottom: 1rem;" href="#">
        <i class="fas fa-book" style="margin-right: .75rem;"></i>
        <span>Homework</span>
    </a>
</div>