{% extends 'account/base.html' %}

{% block head_title %}
    Choose Your Plan
{% endblock %}


{% block content %}
    <div class="container d-flex flex-column main-container p-5 overflow-auto justify-content-center">
        <div class="row">
            <div class="col">
                <h1 class="mb-5" style="text-align: center;font-weight: bold;color: var(--main-color);">Choose Your
                    Plan</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-5">
            <div class="col d-flex flex-column justify-content-center">
                <div class="p-3" style="border-radius: 8px;border: 3px solid lightgray ;">
                    <h4 style="font-weight: bold;color: slategray;">Yearly Subscription</h4>
                    <h2 style="font-weight: bold;color: var(--main-color);">$60.00 / year</h2>
                    <span class="badge bg-light text-success mb-2"
                          style="background: rgba(25,135,84,0.14);font-size: 14px;">1 Week Free Trial</span>
                    <p class="lead" style="color: slategray;">This subscription will give you full access to the
                        software and all of its features.<br/>
                    </p>
                    <a class="btn btn-ums" role="button" href="{% url 'payment_checkout' 'yearly' %}">Choose Plan</a>
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <div class="p-3" style="border-radius: 8px;border: 3px solid lightgray ;">
                    <h4 style="font-weight: bold;color: slategray;">Monthly Subscription</h4>
                    <h2 style="font-weight: bold;color: var(--main-color);">$6.00 / month</h2>
                    <span class="badge bg-light text-success mb-2"
                          style="background: rgba(25,135,84,0.14);font-size: 14px;">1 Week Free Trial</span>
                    <p class="lead" style="color: slategray;">This subscription will give you full access to the
                        software and all of its features.<br/>
                    </p>
                    <a class="btn btn-ums" role="button" href="{% url 'payment_checkout' 'monthly' %}">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}