.calendar-dates {
  border-right: 2px solid var(--main-accent);
}

.calendar-dates:last-child {
  border: none;
}

.calendar-times > .col {
  border-bottom: 2px solid var(--main-accent);
}

.calendar-times:nth-last-child(2) > .col {
  border: none;
}

