@media (min-width: 992px) {
  .calendar-date {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
}

.calendar-date {
  border-right: 3px solid var(--main-accent);
  border-bottom: 3px solid var(--main-accent);
}

@media (min-width: 992px) {
  .calendar-date:last-child {
    border-right: none !important;
  }
}

@media (min-width: 992px) {
  .calendar-date:nth-child(7n) {
    border-right: none !important;
  }
}

@media (min-width: 992px) {
  .calendar-date:nth-child(n + 29) {
    border-bottom: none !important;
  }
}

.calendar-date::-webkit-scrollbar {
  width: 8px !important;
  height: 8px;
}

.calendar-date::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.modal-body > .btn:last-child {
  margin-bottom: 0 !important;
}

