{% extends 'account.html' %}
{% load to_readable_date %}
{% load divide %}
{% load static %}

{% block header %}
    <title>Subscription</title>
{% endblock %}

{% block account_content %}
    <h1 style="color: var(--main-color);font-weight: bold;">Subscription</h1>
    <hr/>
    <span class="badge bg-secondary mb-3" style="font-size: 1rem">Status: {{ subscription.status|title }}</span>
    <h3 class="mb-3" style="color: var(--main-color);font-weight: bold;">Subscriptions</h3>
    <div class="row g-0 mb-4">
        <div class="col p-3" style="border-radius: 8px;border: 3px solid var(--main-accent) ;">
            <div class="row">
                <div class="col-12 col-lg-auto d-flex justify-content-center mb-3 mb-lg-0">
                    <img class="p-3" style="width: 100px;height: 100px;background: whitesmoke;border-radius: 8px;"
                         src="{% static 'img/UMSLogo.svg' %}"/>
                </div>
                <div class="col d-flex flex-column justify-content-center mb-3 mb-lg-0">
                    <h3 class="text-center text-lg-start" style="color: var(--main-color);font-weight: bold;">UMS
                        Subscription</h3>
                    <p class="text-center text-lg-start mb-2" style="color: slategray;">
                        {{ subscription.items.data.0.plan.interval|title }}ly Plan</p>
                    <p class="text-center text-lg-start m-0" style="color: slategray;">
                        {% if subscription.cancel_at_period_end %}Subscription ends{% else %}Next Invoice{% endif %}
                        on {{ sub_info.current_period_end|date }} {% if not subscription.cancel_at_period_end %}for
                        ${{ sub_info.amount }} {{ subscription.latest_invoice.currency|upper }}{% endif %}</p>
                </div>
                <div class="col-12 col-lg-auto d-flex flex-column justify-content-center">
                    {% if subscription.cancel_at_period_end %}
                        <a class="btn btn-sm btn-transparent-warning" role="button" title="Resume Subscription"
                           href="{% url 'payment_resume_subscription' %}">
                            <i class="fas fa-sync-alt me-2 me-lg-0"></i>
                            <span class="d-lg-none">Resume Subscription</span>
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-transparent-success mb-3" role="button" title="Change Subscription"
                           href="{% url 'payment_edit_plan' %}">
                            <i class="fas fa-pen me-2 me-lg-0"></i>
                            <span class="d-lg-none">Change Subscription</span>
                        </a>
                    <a class="btn btn-sm btn-transparent-danger" role="button" title="Cancel Subscription"
                       href="{% url 'payment_cancel_subscription' %}">
                        <i class="fas fa-trash me-2 me-lg-0"></i>
                        <span class="d-lg-none">Cancel Subscription</span>
                    {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mb-3" style="color: var(--main-color);font-weight: bold;">Payment Method</h3>
    <div class="row g-0 mb-4">
        <div class="col d-flex flex-column p-3" style="border-radius: 8px;border: 3px solid var(--main-accent) ;">
            <div class="row">
                <div class="col-12 col-lg-auto d-flex justify-content-center mb-3 mb-lg-0">
                    <i class="far fa-credit-card d-flex justify-content-center align-items-center"
                       style="width: 100px;height: 100px;padding: 1rem;color: var(--main-color);background: whitesmoke;border-radius: 8px;font-size: 3rem;">
                    </i>
                </div>
                <div class="col d-flex flex-column justify-content-center mb-3 mb-lg-0">
                    <h3 class="text-center text-lg-start"
                        style="color: var(--main-color);font-weight: bold;">{{ payment_method.card.brand|title }} 
                        •••• 
                        {{ payment_method.card.last4 }}
                    </h3>
                    <p class="text-center text-lg-start m-0" style="color: slategray;">
                        Expires {{ payment_method.card.exp_year }}</p>
                </div>
                <div class="col-12 col-lg-auto d-flex flex-column justify-content-center">
                    <a class="btn btn-sm btn-transparent-success mb-3" role="button" href="{% url 'payment_edit_payment_method' %}">
                        <i class="fas fa-pen me-2 me-lg-0"></i>
                        <span class="d-lg-none">Change Payment Method</span>
                    </a>
                    <a class="btn btn-sm btn-transparent-danger" role="button" href="{% url 'payment_delete_payment_method' %}">
                        <i class="fas fa-trash me-2 me-lg-0"></i>
                        <span class="d-lg-none">Delete Payment Method</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mb-3" style="color: var(--main-color);font-weight: bold;">Payments</h3>
    <div class="row g-0 mb-3">
        <div class="col d-flex flex-column p-3" style="border-radius: 8px;border: 3px solid var(--main-accent) ;">
            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                    <tr>
                        <th style="color: slategray;">Amount</th>
                        <th style="color: slategray;">Description</th>
                        <th style="color: slategray;">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payment_intents %}
                        <tr>
                            <td>${{ payment.amount|divide:100|stringformat:'.2f' }} {{ payment.currency|upper }}</td>
                            <td>{{ payment.description }}</td>
                            <td>{{ payment.created|to_readable_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}