{% extends 'base.html' %}

{% block header %}
    <title>{{ form_title }}</title>
    <style>
        .form-control {
            border-width: 3px;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="container d-flex flex-column" style="padding: 1rem;">
            <div class="row g-0" style="background: white;padding: 1rem;">
                <div class="col" style="padding: 1.5rem 1rem;border-radius: 8px;border: 3px solid var(--main-accent);">
                    <h1
                        style="text-align: center;color: var(--main-color);font-weight: bold;">{{ form_title }}</h1>
                    {% if form_description %}
                        <p style="color: slategray;text-align: center;margin: 0;">
                            {{ form_description }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="row g-0 flex-grow-1 overflow-auto" style="padding: 1rem;">
                <div class="col overflow-auto"
                     style="height: 100%;border-style: solid;border-color: var(--main-accent);border-radius: 8px;padding: 1rem;">

                    <form class="d-flex flex-column" method="post" enctype="multipart/form-data"
                          style="height: 100%;">
                        {% csrf_token %}
                        {% block form_content %}
                            {% for field in form %}
                                {% if field.name not in excluded_fields or not excluded_fields %}
                                    <div style="margin-bottom: 1rem;">
                                        <label class="form-label"
                                               style="font-size: 20px;font-weight: bold;">{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger mt-3">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                        <div class="row" style="background: white;height: 100%;">
                            <div class="col-12 col-lg-6 d-flex flex-column justify-content-end"
                                 style="padding: 12px;">
                                <button class="btn btn-outline-secondary btn-lg" type="button" onclick="window.history.back()" style="width: 100%;">
                                    Back
                                </button>
                            </div>
                            <div class="col-12 col-lg-6 d-flex flex-column justify-content-end"
                                 style="padding: 12px;">
                                <button class="btn btn-success btn-lg" type="submit" style="width: 100%;">Submit
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}