{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block header %}
    <title>Homework</title>
    <script src="{% static 'js/homework.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid d-flex flex-column" style="height: 100vh;padding: 1rem;">
            <div class="row g-0" style="margin-bottom: 1rem;background: #ffffff;">
                <div class="col d-flex flex-column align-items-center"
                     style="padding: 1rem;border: 3px solid var(--main-accent);border-radius: 8px;">
                    <h1 style="text-align: center;font-weight: bold;color: var(--main-color);margin-bottom: 1rem;">
                        Homework</h1>
                    <p style="text-align: center;color: slategray;">Here you can view upcoming assignments</p>
                    <div class="d-flex flex-column flex-md-row">
                        <a class="btn btn-transparent-ums" role="button" href="{% url 'add_assignment' %}">Add
                            Assignment</a>
                        <a class="btn btn-transparent-ums ms-md-3 mt-3 mt-md-0" role="button"
                           href="{% url 'add_reading_assignment' %}">Add
                            Reading</a>
                    </div>
                </div>
            </div>
            <div class="row g-0 flex-grow-1 overflow-auto"
                 style="height: 100%;border-style: solid;border-color: var(--main-accent);border-radius: 8px;">
                <div class="col" style="height: 100%;padding: 1rem;">
                    {% if late_assignments %}
                        {% include 'snippets/assignments_row.html' with row_title='Late' row_query=late_assignments %}
                    {% endif %}
                    {% for date in all_dates %}
                        {% if date.date in used_dates %}
                            <div class="row g-0" style="margin-bottom: 1rem;">
                                <div class="col"
                                     style="padding: 1rem;border-radius: 8px;background: var(--secondary-color);">
                                    <h3 class="text-center text-lg-start mb-3"
                                        style="font-weight: bold;color: var(--main-color);">
                                        {{ date|naturalday:'l, F j'|title }}</h3>
                                    {% for assignment in all_assignments %}
                                        {% if assignment.due_date == date.date and not assignment.is_reading %}
                                            {% include 'snippets/homework_button.html' %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for reading in reading_objects %}
                                        {% if reading.due_date == date.date %}
                                            {% include 'snippets/homework_button.html' with assignment=reading %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for reading, reading_date, start_page, end_page in reading_assignments %}
                                        {% if reading_date == date.date and start_page and end_page %}
                                            <div class="d-flex align-items-center mb-3 list-group-item-{{ reading.course.color }} flex-column flex-md-row"
                                                 style="padding: 1rem;border-radius: 8px;">
                                                <h5 class="flex-grow-1 mb-3 mb-md-0" style="font-weight: bold;">Read
                                                    pgs. {{ start_page }} - {{ end_page }}
                                                    of {{ reading.name }}</h5>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <button role="button"
                                                            class="btn btn-primary btn-sm mb-3 mb-md-0 me-md-3"
                                                            style="font-weight: bold;" data-bs-toggle="modal"
                                                            data-bs-target="#homework-{{ reading.id }}">View
                                                    </button>
                                                    <a class="btn btn-success btn-sm mb-3 mb-md-0 me-md-3" role="button"
                                                       style="font-weight: bold;"
                                                       href="{% url 'edit_reading_assignment' reading.id %}">Edit</a>
                                                    <button role="button" class="btn btn-danger btn-sm"
                                                            style="font-weight: bold;" data-bs-toggle="modal"
                                                            data-bs-target="#delete-item-{{ reading.id }}">Delete
                                                    </button>
                                                    {% include 'snippets/are_you_sure.html' with item=reading delete_url='delete_reading_assignment' %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if completed_assignments %}
                        {% include 'snippets/assignments_row.html' with row_title='Completed' row_query=completed_assignments collapsable=True %}
                    {% endif %}
                    {% if not late_assignments and not completed_assignments and not all_dates %}
                        <div class="row g-0" style="height: 100%;">
                            <div class="col d-flex flex-column justify-content-center align-items-center p-3">
                                <img class="mb-4 d-none d-lg-block" src="{% static 'img/UMS404.svg' %}"
                                     alt="404 Not Found" style="width: 25vw"/>
                                <h1 class="display-3 mb-3"
                                    style="color: var(--main-color);font-weight: bold;text-align: center;">No
                                    Assignments</h1>
                                <a class="btn btn-lg btn-transparent-secondary" role="button"
                                   href="{% url 'add_assignment' %}">Add
                                    Assignment</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
