{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Homework</title>
    <script src="{% static 'js/homework.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid d-flex flex-column" style="height: 100vh;padding: 1rem;">
            <div class="row g-0" style="margin-bottom: 1rem;background: #ffffff;">
                <div class="col d-flex flex-column align-items-center"
                     style="padding: 1rem;border: 3px solid var(--main-accent);border-radius: 8px;">
                    <h1 style="text-align: center;font-weight: bold;color: var(--main-color);margin-bottom: 1rem;">
                        Homework</h1>
                    <p style="text-align: center;color: slategray;">Here you can view upcoming assignments</p>
                    <a class="btn btn-transparent-ums" role="button" href="{% url 'add_assignment' %}">Add
                        Assignment</a>
                </div>
            </div>
            <div class="row g-0 flex-grow-1 overflow-auto"
                 style="height: 100%;border-style: solid;border-color: var(--main-accent);border-radius: 8px;">
                <div class="col" style="height: 100%;padding: 1rem;">
                    {% if late_assignments %}
                        {% include 'snippets/assignments_row.html' with row_title='Late' row_query=late_assignments %}
                    {% endif %}
                    {% for assignment_date in all_assignments %}
                        {% ifchanged assignment_date.due_date %}
                            <div class="row g-0" style="margin-bottom: 1rem;">
                                <div class="col"
                                     style="padding: 1rem;border-radius: 8px;background: var(--secondary-color);">
                                    <h3 class="text-center text-lg-start"
                                        style="font-weight: bold;color: var(--main-color);">
                                        {{ assignment_date.due_date|date:'l, F j' }}</h3>
                                    <hr/>
                                    {% for assignment in all_assignments %}
                                        {% if assignment.due_date == assignment_date.due_date %}
                                            <button class="btn d-flex flex-column btn-transparent-{{ assignment.course.color }}"
                                                    type="button"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#homework-{{ assignment.id }}"
                                                    style="width: 100%;padding: 1rem;font-weight: initial;margin-bottom: 1rem;">
                                    <span class="h4"
                                          style="font-weight: bold;margin:0">{{ assignment.course }}: {{ assignment.name }}</span>
                                                <span style="margin-top: 8px">Due: {{ assignment.due_date }} at {{ assignment.due_time }}</span>
                                            </button>
                                            <div role="dialog" tabindex="-1" class="modal fade"
                                                 id="homework-{{ assignment.id }}">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title"
                                                                style="font-weight: bold;color: var(--main-color);">
                                                                {{ assignment.course }}: {{ assignment.name }}</h4>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" style="padding: 2rem;">
                                                            <p style="color: slategray;margin: 0;text-align: left;">
                                                                Course</p>
                                                            <p class="lead"
                                                               style="font-weight: bold;text-align: left;">{{ assignment.course }}</p>
                                                            <p style="color: slategray;margin: 0;text-align: left;">
                                                                Assignment
                                                                Name</p>
                                                            <p class="lead"
                                                               style="font-weight: bold;text-align: left;">{{ assignment.name }}</p>
                                                            <p style="color: slategray;margin: 0;text-align: left;">
                                                                Description</p>
                                                            <p class="lead"
                                                               style="font-weight: bold;text-align: left;">{{ assignment.description|default:'None' }}</p>
                                                            <p style="color: slategray;margin: 0;text-align: left;">Due
                                                                Date</p>
                                                            <p class="lead"
                                                               style="font-weight: bold;text-align: left;">{{ assignment.due_date }}</p>
                                                            <p style="color: slategray;margin: 0;text-align: left;">Due
                                                                Time</p>
                                                            <p class="lead"
                                                               style="font-weight: bold;text-align: left;">{{ assignment.due_time }}</p>
                                                            {% if assignment.link %}
                                                                <a href="{{ assignment.link }}" target="_blank"
                                                                   class="btn btn-primary"
                                                                   type="button">Go to Homework</a>
                                                            {% endif %}
                                                            {% if not assignment.completed %}
                                                                <a href="{% url 'complete_assignment' assignment.id %}"
                                                                   class="btn btn-success"
                                                                   type="button">Complete</a>
                                                            {% else %}
                                                                <a href="{% url 'complete_assignment' assignment.id %}"
                                                                   class="btn btn-danger"
                                                                   type="button">Not Completed?</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{% url 'edit_assignment' assignment.id %}"
                                                               class="btn btn-transparent-success me-2">Edit</a>
                                                            <a href="{% url 'delete_assignment' assignment.id %}"
                                                               class="btn btn-transparent-danger me-2">Delete</a>
                                                            <button class="btn btn-light" type="button"
                                                                    data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endifchanged %}
                    {% endfor %}
                    {% if completed_assignments %}
                        {% include 'snippets/assignments_row.html' with row_title='Completed' row_query=completed_assignments %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
