{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load next_class %}

{% block header %}
    <title>Untitled Management Software</title>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid d-flex" style="padding: 0;">
            <div class="row g-0 flex-grow-1">
                <div class="col-12 col-xl-6 col-xxl-7 d-flex flex-column" style="max-height: 100vh;">
                    {% next_class True %}
                    <div class="row g-0 flex-fill p-3 h-100 overflow-auto">
                        <div class="col d-flex flex-column p-3 h-100 overflow-auto"
                             style="background: var(--secondary-color);border-radius: 8px;border: 3px solid var(--main-accent) ;">
                            <div class="row mb-3">
                                <div class="col d-flex align-items-center">
                                    <h3 class="m-0" style="font-weight: bold;color: var(--main-color);">Upcoming
                                        Assignments</h3>
                                </div>
                                <div class="col-auto d-flex align-items-center">
                                    <a class="btn d-block d-lg-flex align-items-center btn-transparent-ums"
                                       role="button" href="{% url 'add_assignment' %}">
                                        <i class="fas fa-plus me-0 me-xxl-2"></i>
                                        <span class="d-none d-xxl-block">Add Assignment</span>
                                    </a>
                                </div>
                            </div>
                            {% if upcoming_assignments %}
                                {% include 'snippets/assignments_widget.html' with assignments_query=upcoming_assignments %}
                            {% else %}
                                <div class="row d-flex flex-grow-1">
                                    <div class="col p-3 d-flex flex-column align-items-center justify-content-center">
                                        <img class="mb-3 d-none d-xxl-block" src="{% static 'img/NoAssignments.svg' %}"
                                             style="max-height: 100px" alt="No Assignments">
                                        <h4 class="text-center" style="color: var(--main-color); font-weight: bold">
                                            No Assignments
                                        </h4>
                                        <p class="text-center mb-0">You have no upcoming assignments!</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if late_assignments %}
                        <div class="row g-0 flex-shrink-1 p-3 h-100 overflow-auto">
                            <div class="col d-flex flex-column p-3 h-100 overflow-auto"
                                 style="background: var(--secondary-color);border-radius: 8px;border: 3px solid var(--main-accent) ;">
                                <div class="row mb-3">
                                    <div class="col d-flex align-items-center">
                                        <h3 class="m-0" style="font-weight: bold;color: var(--main-color);">Late
                                            Assignments</h3>
                                    </div>
                                </div>
                                {% include 'snippets/assignments_widget.html' with assignments_query=late_assignments %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-xl-6 col-xxl-5 d-flex flex-column" style="max-height: 100vh;">
                {% if coursetimes_for_today %}
                    <div class="row g-0 p-3 overflow-auto flex-fill h-100" style="">
                        <div class="col d-flex flex-column p-3 h-100 overflow-auto"
                             style="border-radius: 8px;background: var(--secondary-color);border-style: solid;border-color: var(--main-accent);">
                            <h3 class="mb-3" style="font-weight: bold;color: var(--main-color);">Classes Today</h3>
                            <ul class="list-group flex-fill list-group-flush overflow-auto" style="border-radius: 8px;">
                                {% for coursetime in coursetimes_for_today %}
                                    <li class="list-group-item list-group-item-{{ coursetime.course.color }} p-3">
                                        <a class="h3 text-center text-lg-start"
                                           href="{% url 'course_view' coursetime.course.id %}"
                                           style="font-weight: bold;">{{ coursetime.course.name }}</a>
                                        <p class="lead text-center text-lg-start my-2"
                                           style="font-weight: bold;">{{ coursetime.start_time|time:'h:i a' }}
                                            - {{ coursetime.end_time|time:'h:i a' }}</p>
                                        <div class="d-flex flex-column flex-sm-row">
                                            {% if coursetime.link %}
                                                <a class="btn btn-{{ coursetime.course.color }} btn-sm me-0 me-sm-3 mb-3 mb-sm-0"
                                                   role="button"
                                                   style="border-width: 0;font-weight: bold;"
                                                   href="{{ coursetime.link }}">Go to Class</a>
                                                <span class="text-center px-2 py-1 me-0 me-sm-3 mb-3 mb-sm-0 btn-transparent-{{ coursetime.course.color }} rounded"
                                                      style="font-size: 14px;font-weight: bold;border-radius: .2rem;">Password: {{ coursetime.zoom_password|default:'None' }}</span>
                                            {% endif %}
                                            <a class="btn btn-{% if coursetime.link %}outline-{% endif %}{{ coursetime.course.color }} btn-sm me-0 me-sm-3 mb-3 mb-sm-0"
                                               role="button" style="border-width: 0;font-weight: bold;"
                                               href="{% url 'notes_add_notes' coursetime.course.id %}?daily-notes=true">Open
                                                Notes</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                    <div class="row g-0 flex-fill p-3 h-100 overflow-auto">
                        <div class="col d-flex flex-column p-3 h-100 overflow-auto"
                             style="background: var(--secondary-color);border-radius: 8px;border-style: solid;border-color: var(--main-accent);">
                            <div class="row mb-3">
                                <div class="col d-flex align-items-center">
                                    <h3 class="m-0" style="font-weight: bold;color: var(--main-color);">Upcoming
                                        Events</h3>
                                </div>
                                <div class="col-auto d-flex align-items-center">
                                    <a class="btn d-xl-flex align-items-center btn-transparent-ums" role="button"
                                       href="{% url 'add_calendar_event' %}">
                                        <i class="fas fa-plus me-0 me-xxl-2"></i>
                                        <span class="d-none d-xxl-block">Add Event</span>
                                    </a>
                                </div>
                            </div>
                            {% if today_and_tomorrow %}
                                <div class="list-group flex-fill list-group-flush h-100 overflow-auto"
                                     style="border-radius: 8px;">
                                    <a class="list-group-item list-group-item-action disabled px-4 py-2">
                                        <div class="row d-flex flex-column align-items-center flex-lg-row">
                                            <div class="col-8 d-flex align-items-center mb-3 mb-lg-0 h-100">
                                                <span class="text-center text-lg-start w-100"
                                                      style="font-weight: bold;">Name</span>
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <span class="text-center text-lg-start w-100"
                                                      style="font-weight: bold;">Date</span>
                                            </div>
                                        </div>
                                    </a>
                                    {% for day in today_and_tomorrow %}
                                        <a class="list-group-item list-group-item-action px-4 py-3 btn-transparent-ums"
                                           href="{% url 'calendar' %}">
                                            <div class="row d-flex flex-column flex-lg-row">
                                                <div class="col-lg-8 d-flex align-items-center mb-3 mb-lg-0">
                                            <span class="text-break text-center text-lg-start w-100"
                                                  style="font-weight: bold;">{{ day.title }}</span>
                                                </div>
                                                <div class="col d-flex align-items-center">
                                                <span class="text-center text-lg-start w-100"
                                                      style="font-weight: bold;">{{ day.date }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row d-flex flex-grow-1">
                                    <div class="col p-3 d-flex flex-column align-items-center justify-content-center">
                                        <img class="mb-3 d-none d-xxl-block" src="{% static 'img/NoEvents.svg' %}"
                                             style="max-height: 100px" alt="No Assignments">
                                        <h4 class="text-center" style="color: var(--main-color); font-weight: bold">
                                            No Events
                                        </h4>
                                        <p class="text-center mb-0">You have no upcoming events!</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}